body {
  background-color: #D3D3D3;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.title {
  color: #FFFFFF;
  text-align: center;
}

.challenge-background {
  background-color: #FFFFFF;
}
.challenge-font {
  width: 90%;
  margin: -2%;
}

.event {
  padding-left: 5%;
  border-style: groove;
  border-color: #FFFFFF;
  color: #FFFFFF;
  width: 400px;
  height: 215px;
  padding-bottom: 3%;
}

.progress {
  position: absolute;
  width: 5%;
  height: 25%;
  margin: -47% 0% 10% 83%;
  opacity: 100%;
}

#syrian-pic {
  background-image: url("Syrian-refugees-landing.jpg");
  opacity: 0.9;
}

#water-pic {
  background-image: url("water-crisis.jpg");
}

#mental-pic {
  background-image: url("woman-mental.jpg");
}
