.challenge-background {
  background-color: #D3D3D3;
  width: 92%;
}
body {
  background-color: #D3D3D3;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.title {
  color: #FFFFFF;
  text-align: center;
}

.challenge-font {
  width: 90%;
}

.progress {
  position: absolute;
  display:inline;
  width: 5%;
  height: 25%;
  margin: -50% -30% 0% 83%;
  opacity: 100%;
}

#syrian-pic {
  background-image: url("Syrian-refugees-landing.jpg");
  opacity: 0.9;
}

#water-pic {
  background-image: url("water-crisis.jpg");
}

#mental-pic {
  background-image: url("woman-mental.jpg");
}
.event {
  border-style: groove;
  border-color: #FFFFFF;
  color: #FFFFFF;
  height: 215px;
  width: 100%;
  padding: 3%;
  margin-bottom: 1%;
}

.progress {
  box-shadow: 3px 3px 5px #888888;
}
