p {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
/*  color:white;
  font-size:20px;*/
}

body {
  background-color:#57D9D5;
}

.profile-box {
  height: 30%;
  width: 30%;
  box-shadow: 10px 10px 5px #888888;
  border: 2px;
  border-radius: 8px;
  margin:1%;
}

.profile-box .home-image{
  height: 100%;
  width: 100%;
  margin-bottom: -5px;
  border-radius: 8px;
}

.profile-box .prof-name {
  color: white;
  font-size: 20px;
  position: absolute;
  text-shadow: 1px 1px black;
  letter-spacing: 1px;
  margin: 28% 0 0 3%;
}

.give-kudos {
	margin-left:10%;
	margin-top:5%;
}

form input[type=text] {
	border:1px solid black;
}

button {
	border:1px solid #009688;
	background-color:#64C16C;
	border-radius:50%;
	color:white;
	font-size: 25px;
	margin-left:2.5%;
}