.profile-box {
  height: 32%;
  width: 32%;
  box-shadow: 10px 10px 5px #888888;
  border: 2px;
  border-radius: 8px;
  margin: 8%;
  float: left;
}

.profile-box .home-image{
  height: 100%;
  width: 100%;
  margin-bottom: -5px;
  border-radius: 8px;
}

.profile-box .ex-icon {
  height: 2%;
  width: auto;
  position: absolute;
}

.profile-box .prof-name {
  color: #57D9D5;
  position: absolute;
  text-shadow: 1px 1px black;
  letter-spacing: 1px;
  margin: 25% 0 0 3%;
}

.profile-box .info-button img {
  height: 20px;
  margin-left: 40%;
  margin-top: 5%;
}
.profile-box .add-points-button img {
  height: 20px;
  margin-left: 40%;
  margin-top: 5%;
}

.time-elapsed {
  color:#54b4ff;
  text-shadow: 1px 1px black;
  letter-spacing: 1px;
  position: absolute;
  margin-left: 18%
}

.profile-box .info-button {
  background-color: white;
  margin-bottom: 2.7%;
  height: 2%;
  width: 15.8%;
  position: absolute;
  margin-top:-3.4%;
  margin-left:15.7%;
  border-bottom-right-radius: 8px;
}

.profile-box .add-points-button {
  background-color: #D3D3D3;
  margin-bottom: 2.7%;
  height: 2%;
  width: 15.8%;
  margin-top: -3.4%;
  position: absolute;
  border-bottom-left-radius: 8px;
}
body {
  background-color:#57D9D5;
}
