p {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.profile-box {
  height: 44%;
  width: 44%;
  box-shadow: 10px 10px 5px #888888;
  border: 2px;
  border-radius: 8px;
  margin: 3%;
  float: left;
}

.profile-box .home-image{
  height: 100%;
  width: 100%;
  margin-bottom: -5px;
  border-radius: 8px;
}

.profile-box .ex-icon {
  height: 4%;
  width: auto;
  position: absolute;
}

.profile-box .prof-name {
  color: white;
  font-size: 32px;
  position: absolute;
  text-shadow: 1px 1px black;
  letter-spacing: 1px;
  margin: 34% 0 0 3%;
}

.profile-box .info-button img {
  height: 50px;
  margin-left: 40%;
  margin-top: 1%;
}
.profile-box .add-points-button img {
  height: 45px;
  margin-left: 40%;
  margin-top: 1%;
}

.time-elapsed {
  color:#54b4ff;
  text-shadow: 1px 1px black;
  letter-spacing: 1px;
  position: absolute;
  font-size: 32px;
  margin-left: 18%
}

.profile-box .info-button {
  background-color: white;
  margin-bottom: 2.7%;
  height: 3%;
  width: 22%;
  position: absolute;
  margin-top:-5.3%;
  margin-left:22.3%;
  border-bottom-right-radius: 8px;
}

.profile-box .add-points-button {
  background-color: #D3D3D3;
  margin-bottom: 4%;
  height: 3%;
  width: 22.4%;
  margin-top: -5.3%;
  position: absolute;
  border-bottom-left-radius: 8px;
}
body {
  margin-top: 160px;
  background-color:#57D9D5;
}
