<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>

<!-- <% stylesheet_link_tag "mikeystyle.css" %> -->
<link rel="stylesheet" type="text/css" href="mikeystyle.css">

<div class="headbar">
</div>

<body>
	<!-- <%= yeild %> -->
</body>

<navbar>
	<div class="navbar-div">
		<img class="navbar-image" src="home.png" />
	</div>
	<div class="navbar-div">
		<img class="navbar-image" src="profile.png" />
	</div>
	<div class="navbar-div" >
		<img class="navbar-image" src="community.png" />
	</div>
	<div class="navbar-div" >
		<img class="navbar-image" src="challenges.png" />
	</div>
</navbar>
</html>
