navbar {
	position:fixed;
	bottom:0;
	text-align:center;
	padding:5px;
	max-width: 100%;
	background-color:#505050;
	width:100%;
	left: -2px;
}

navbar .navbar-div {
	display:inline-block;
	padding:8%;
	border-radius: 25px;
	background-color:#57D9D5;
	padding:5%;
	margin-left:1%;
	margin-right:1%;
}

navbar .navbar-image {
	max-height:90px;
	min-height:90px;
	max-width:80px;
	display:inline-block;
}

.headbar {
	width:101%;
	left: -2px;
	margin-top:-8px;
	position:fixed;
	height:150px;
	background-color:#009688;
	text-align:center;
	font-size:40px;
	color:white;
}

.hot-tile {
	top: 250px;
	display: inline-block;
	border: 1px solid black;
	border-radius: 5px;
}

.hot-pic {
	height: 24%;
	overflow: hidden;
	position: center;
}

#selected_div {
	background-color:#009688;
	border:2px solid black;
}
