.profile-box {
  margin: 155px 8% 8% 3%;
  height: 32%;
  width: 32%;
  box-shadow: 10px 10px 10px #888888;
  border-radius: 200px;
}
.text-success {
  color: #505050;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: bold;
  text-align: center;
}
.profile-intro {
  width: auto;
  position: absolute;
  margin-left: 40%;
  font-size: 32px;
}

.profile-box .home-image{
  border: 2px solid gray;
  height: 100%;
  width: 100%;
  margin-bottom: -5px;
  border-radius: 200px;
}
.home-image {
  box-shadow: 10px 10px 10px #888888;
}
.thumb {
  height: 50px;
  margin-bottom: -10px;
}

body {
  background-color:#D3D3D3;
}


body{
    /*background:#eee;*/
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #FFFFFF;
}
a {
    color: #57D9D5;
    font-weight: bold;
    text-decoration: none;
}
.blog-comment::before,
.blog-comment::after,
.blog-comment-form::before,
.blog-comment-form::after{
    content: "";
	display: table;
	clear: both;
}

.blog-comment{
    padding-left: 15%;
	padding-right: 15%;
}

.blog-comment ul{
	list-style-type: none;
	padding: 0;
}

.blog-comment img{
	opacity: 1;
	filter: Alpha(opacity=100);
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	  	 -o-border-radius: 4px;
			border-radius: 4px;
}

.blog-comment img.avatar {
	position: relative;
	float: left;
  border: 2px solid black;
	margin-left: 0;
	margin-top: 0;
	width: 65px;
	height: 65px;
}

.blog-comment .post-comments{
	border: 1px solid #eee;
    margin-bottom: 20px;
    margin-left: 85px;
	margin-right: 0px;
    padding: 10px 20px;
    position: relative;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       	 -o-border-radius: 4px;
    		border-radius: 4px;
	background: #fff;
	color: #6b6e80;
	position: relative;
  box-shadow: 10px 10px 5px #888888;
}

.score {
  color: #82b440;
}
.blog-comment .meta {
	font-size: 13px;
	color: #aaaaaa;
	padding-bottom: 8px;
	margin-bottom: 10px !important;
	border-bottom: 1px solid #eee;
}

.blog-comment ul.comments ul{
	list-style-type: none;
	padding: 0;
	margin-left: 85px;
}

.blog-comment-form{
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 40px;
}

.stats {
  background-color: #57D9D5;
  box-shadow: 10px 10px 5px #888888;
  color: white;
  border-radius: 20px;
  height: 40px;
  width: 500px;
  padding: 3%;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
}

.blog-comment h3,
.blog-comment-form h3{
	margin-bottom: 40px;
	font-size: 26px;
	line-height: 30px;
	font-weight: 800;
}

.clearfix {
  width:130%;
  margin-left: -15%;
}

p {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: bold;
}
